@font-face {
  font-family: 'proxima_nova_black';
  src: url("../fonts/mark_simonson_-_proxima_nova_black-webfont.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_black-webfont.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_black-webfont.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_black-webfont.svg#proxima_nova_blblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_bold';
  src: url("../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_bold-webfont.svg#proxima_nova_blblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_blblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_light';
  src: url("../fonts/mark_simonson_-_proxima_nova_light-webfont.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_light-webfont.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_light-webfont.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_light-webfont.svg#proxima_nova_blblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_light_italic';
  src: url("../fonts/mark_simonson_-_proxima_nova_light_italic-webfont.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_light_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_light_italic-webfont.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_light_italic-webfont.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_light_italic-webfont.svg#proxima_nova_blblack") format("svg");
  font-weight: normal;
  font-style: normal; }

.jl-link {
  position: relative; }
  .jl-link .jl-link-underline {
    display: block;
    width: 0%;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    height: 2px;
    background-color: #414141;
    position: absolute;
    bottom: 24px;
    left: 20px; }
  .jl-link:hover .jl-link-underline {
    width: calc(100% - 40px); }

.jl-content {
  max-width: 1100px;
  margin: 0 auto; }

.jl-header-container {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.jl-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .jl-header .jl-header-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #737373;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
    .jl-header .jl-header-link:hover {
      color: #414141; }
    .jl-header .jl-header-link.jl-header-link--main {
      font-size: 25px;
      font-family: 'proxima_nova_bold'; }

.section {
  padding: 30px 75px; }

body {
  font-family: 'proxima_nova_regular'; }

* {
  box-sizing: border-box; }
